*{
		box-sizing: border-box;
		font-family: 'Nunito Sans', sans-serif;
}
.general-shadow{
		box-shadow: 0px 0px 15px -4px rgba(30,30,60,0.25);
}
.container{
    width: 700px;
}
.input-group {
    position: relative;
}
.txtregistro{
    color: #2e2e2e;
		text-align: center;
    font-weight: 700;
}
.input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: .2em !important;
    background-color: #FAFAFA;
    outline: 2px solid #FAFAFA;
}
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e2e2e;
    transform: translate(10px, 10px);
    transition: transform .25s;
}
.input:focus+.input-label,
.input:valid+.input-label {
    transform:
    translate(10px, -14px) scale(.8);
    opacity: 1;
    color: #2e2e2e;
    padding-inline: 5px;
    background-color: #ffffff; 
}
.input:is(:focus, :valid){
    outline-color: #4aa8d9;
}
.registro{
    background-color: #2e2e2e;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    width: 12.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.625rem;
    
}
.main-container{
		display: flex;	
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 1em;
}
.texto-container{
		padding: .5em;
		box-shadow: 0px 0px 25px -4px rgba(30,30,60,0.25);
		width: 45%;
}

/* Mapa */
.map-container{
		position: relative;
		width: 35rem;
		padding: .5em;
		box-shadow: 0px 0px 25px -4px rgba(30,30,60,0.25);
}
.map-container__image{
		width: 100%;
		display: block;
		border-radius: .4em;
}

.point{
		display: block;
		width: 35px;
		height: 35px;
		background-color: #fcfcfc;
		border: 3px inset #a1a1a1;
		position: absolute;
		border-radius: 50%;
		cursor: pointer;
}

.point-info{
		left: 29%;
		top: 25%;
}
.point-accounting{
		left: 13.5%;
		top: 14%;
}
.point-conta{
		left: 11.7%;
		top: 23%;
}
.point-presicion{
		left: 78%;
		top: 53%;
}
.point-mantenimiento{
		left: 76%;
		top: 62%;
}
.point-electro{
		left: 74%;
		top: 71%;
}
.point-diseno{
		left: 61.5%;
		top: 87%;
}
.point-automotriz{
		left: 79%;
		top: 30%;
}
.point-secretariado{
		left: 29%;
		top: 39.5%;
}

/*Poppers*/
.tippy-box[data-animation='open'][data-state='hidden'] {
  opacity: 0;
	transform: scale(0.7);
}

.tippy-box[data-theme~='popover-style'] {
  color: #444;
	background-color: #fff;
	width: 238px;
	padding: .5em;
	box-shadow: 0 0 3px hsla(0, 0%, 0%, .2);
	pointer-events: all;
}


/*celular*/
@media screen and (max-width: 580px){
		.point{
				width: 30px;
				height: 30px;
		}
		.map-container{
				width: 25rem;
		}
}
@media screen and (max-width: 880px){
		.card{
				width: 90% !important;
		}
		.texto-container{
				width: 73%;
		}
}
