.container{
    width: 700px;
}
.input-group {
    position: relative;
}
.cbody{
    padding-left: 25px;
    padding-right: 25px;
}
.txtregistro{
    color: #2E2E2E;
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
}
.input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: .2em !important;
    background-color: #FAFAFA;
    outline: 2px solid #FAFAFA;
}
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2E2E2E;
    transform: translate(10px, 10px);
    transition: transform .25s;
}
.input:focus+.input-label,
.input:valid+.input-label {
    transform:
    translate(10px, -14px) scale(.8);
    opacity: 1;
    color: #2E2E2E;
    padding-inline: 5px;
    background-color: #ffffff; 
}
.input:is(:focus, :valid){
    outline-color: #4AA8D9;
}
.registro{
    background-color: #2E2E2E;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    width: 12.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.625rem;
    
}