.input-group {
    position: relative;
}
.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FAFAFA;
    outline: 2px solid #FAFAFA;
}
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}
.input:focus+.input-label,
.input:valid+.input-label {
    transform:
    translate(10px, -14px) scale(.8);
    color: #000000;
    padding-inline: 5px;
    background-color: #ffffff; 
}
.input:is(:focus, :valid){
    outline-color: #4AA8D9;
}